In [1]:
from loadOwnData import loadOwnData as dl
from loadOwnData import createEpochs2
import numpy as np
import feature_extractionClean as fe
import svmMethods as sm
import pandas as pd

def codeLabelToMeaning(val, label=True):
    if label:
        cltm = np.load("codeLabelMeaning.npy", allow_pickle=True)
        return  cltm[2, np.where(np.array(cltm[1], dtype=int) == val)][0][0]

# print(codeLabelToMeaning(1))

for seed in np.arange(2100,2101):
    np.random.seed(seed)
    specificSubject=1
    #fc = fe.featureEClass()
    words = [["Sad",51],["Angry",52],["Happy",53],["Disgusted",54]]
    wordDict = dict(words)
    exgData, markerData= dl(dataPath = "SadAngryHappyDisgusted/", t_start=0, t_end=3.5, words=wordDict)

    createEpochs2(words=words, eegData=exgData, markerData=markerData)
    
    #mDataList = fc.getFeaturesAnyDset(data=epochs, labels=labels, wnperseg=None , samplerate=250)
    exgData

/home/luna/pythonProjects/nietoProject/NietoExcercise/SadAngryHappyDisgusted/*_ExG*
dict_values([51, 52, 53, 54])

In [2]:
markerData

    TimeStamp   Code
0   1917.9626   sw_6
1   1919.4517   sw_9
2   1923.5013  sw_14
3   1929.5418  sw_51
4   1933.5546   sw_9
..        ...    ...
57  4459.0822  sw_52
58  4463.0872   sw_9
59  4467.1011  sw_14
60  4473.1429  sw_51
61  4477.1791   sw_6

[153 rows x 2 columns]

In [19]:
exgData["TimeStamp"] = pd.to_numeric(exgData["TimeStamp"])
a = exgData["TimeStamp"] > 2000 
b = exgData["TimeStamp"] < 2100
a*b
exgData[a*b]

,TimeStamp,ch1,ch2,ch3,ch4,ch5,ch6,ch7
0,2077.6991,-374512.57,-381327.15,-373433.78,-377280.04,-374439.95,-371808.38,-350304.79
1,2077.7031,-372030.35,-374938.39,-373266.93,-376346.35,-371617.89,-371052.98,-361880.63
2,2077.7071,-368538.71,-362388.03,-378667.73,-378020.09,-370955.32,-371899.60,-383886.10
3,2077.7111,-369039.05,-361451.53,-382144.40,-379970.55,-373510.17,-373166.46,-384701.58
4,2077.7151,-371952.20,-371428.96,-379538.53,-379499.24,-375637.86,-373184.44,-367716.79
...,...,...,...,...,...,...,...,...
5579,2099.9819,-368981.74,-364117.24,-376804.54,-377284.91,-370057.58,-371161.60,-380369.71
5580,2099.9859,-368719.96,-360020.06,-381391.76,-379717.73,-372018.00,-372555.35,-386467.69
5581,2099.9899,-371256.59,-368190.52,-380190.37,-379727.17,-374716.37,-372941.92,-372497.65
5582,2099.9939,-374324.75,-380222.13,-374053.90,-377342.13,-374659.92,-371698.23,-351899.48
5583,2099.9979,-372876.31,-377641.87,-371929.88,-375753.73,-371759.46,-370559.26,-356750.96